{% extends 'base.html' %}

{% block content %}
<h2>Create New Service</h2>
<form method="POST" action="{{ url_for('create_service') }}">
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.base_price.label }} {{ form.base_price(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.time_required.label }} {{ form.time_required(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }} {{ form.description(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-success") }}
</form>
{% endblock %}